# Include any files or directories that you don't want to be copied to your
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/

# Ignore version control files
.git
.gitignore

# Ignore Python cache files
**/__pycache__
*.pyc
*.pyo
*.pyd

checkpoints/
./checkpoints/
src/checkpoints
copy_paste_config
*/copy_paste_config


# Ignore virtual environment
.venv
env/
venv/


# Ignore IDE-specific files
.vscode
*.code-workspace

# Ignore Docker-related files
Dockerfile
docker-compose.yml
.dockerignore

# Ignore data and model directories
src/.datasets
src/datasets
.datasets
datasets
saved_models/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore wandb directory
wandb/

# Ignore environment files
.env
environment.yml

# Ignore documentation and license files
README.md
LICENSE

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Python distribution / packaging
*.egg-info/
dist/
build/

# Ignore log files
*.log

# Ignore configuration files (unless needed in the container)
# config.yaml

# Ignore any large datasets or files not needed in the container
# Add specific large files or directories here
